extends layout.jade

block content

  ul
    li.item.item-1
      a(href="#") Item 1
    li.item.item-2
      a(href="#") Item 2
    li.item.item-3
      a(href="#") Item 3
    li.item.item-4
      a(href="#") Item 4
    li.item.item-5
      a(href="#") Item 5

